/*-- scss:defaults --*/
$presentation-h1-font-size: 3em;
$modal-footer-bg: red;
$presentation-font-size-root: 50px;
$presentation-h3-font-size: 1.05em;
$link-color: #75AADB !default;
$footer-bg: #75AADB;
$modal-footer-bg: #75AADB;

.title {
  font-size: 80px !important;
  color: white !important;
}

.subtitle {
    font-size: 30px;
    color: #ffffff;;
  }

.quarto-title-author {
  font-size: 30px;
  color: #ffffff;
}

.date {
  font-size: 30px;
  color: white !important;
}


.reveal section h2 {
  color: #75AADB;
}

.medium {
  font-size: 0.9em;
}

.small {
  font-size: 0.65em;
}

.panel-tabset-tabby a {
  color: #75AADB;
  font-size: 0.9em;
}

/*-- scss:rules --*/

.observablehq {
  font-size:20px;
}

.reveal .footer {
  background-color: white;
  padding:0px;
  opacity: 1;
}

.reveal .header {
  text-align: center;
  background-color: white;
  color: #75AADB;
  padding:0px;
  opacity: 1;
}

section.slide h1 {
  font-size: 4em !important;
  color: #75AADB !important;
}

section.slide h2 {
  font-size: 1.8em !important;
  color: white !important;
  background-color: #75AADB !important;
  width: 200vw;
  position: relative;
  left: -20vw;
  padding-left: 20vw;
  padding-top: 0px;
  padding-bottom: 10px;
}




code.sourceCode {
  font-size: 0.75em;
}